$background: #011627;
$primary-color: rgb(233, 78, 27);

#s2 {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.about {
  padding: 2rem;
  padding-left: 2rem;
  border-radius: 25px;
  margin: 3rem;
  margin-top: 15rem;
  width: 50%;

  h2 {
    padding-left: 1rem;
    font-size: 50px;
  }

  div {
    padding: 1rem;
    line-height: 35px;
    border-radius: 25px;
    transition: 400ms;

    p {
      font-size: 25px;
    }
  }
}
.skill-con {
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    font-size: 20px;
  }
}
.skill {
  font-weight: 900;
  font-size: 25px;
}
