$background: #011627;
$primary-color: rgb(233, 78, 27);

footer {
  position: relative;
  text-align: center;
  padding: 12px;
  height: 150px;
  width: 100%;
  margin-top: 10rem;
  background-color: #011627;

  .resume {
    margin: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    font-weight: 800;
    transition: 250ms;

    &:hover {
      color: $primary-color;
    }
  }

  div {
    div {
      display: flex;
      margin: 1rem;
      justify-content: center;

      a {
        margin: 1rem;
      }
    }
  }

  i {
    transform: scale(1.5);
    transition: 250ms;
  }

  i:hover {
    color: $primary-color;
  }
}

footer::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  height: 100%;
  width: 50%;
  background: $background;
  transform: skew(0deg, -6deg);
  z-index: -1;
}

footer::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -50px;
  right: 0;
  height: 100%;
  width: 50.5%;
  background: $background;
  transform: skew(0deg, 6deg);
}
