$background: #011627;
$primary-color: rgb(233, 78, 27);

footer {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 150px;
  transform: rotate(180deg);
  width: 100%;
  margin-bottom: -50px;
  margin-top: 10rem;

  div {
    transform: rotate(180deg);
    display: flex;
    gap: 5rem;
    justify-content: center;
  }
  i {
    transform: scale(1.5);
  }
  i:hover {
    color: $primary-color;
  }
}
footer:before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: $background;
  transform: skew(0deg, 6deg);
  z-index: -1;
}
footer:after {
  overflow: hidden;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50.5%;
  background: $background;
  transform: skew(0deg, -6deg);
}
