@media screen and (max-width: 500px) {
  .header {
    font-size: x-large;
  }
  .intro-con {
    margin: 1rem;
    margin-top: 6rem;

    h1 {
      font-size: larger;
    }
  }
  .hexagon {
    position: fixed;
    width: 50px;
    height: 28.87px;
    background-color: #64c7cc;
    margin: 14.43px 0;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }

  .hexagon:before {
    bottom: 100%;
    border-bottom: 14.43px solid #64c7cc;
  }

  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 14.43px solid #64c7cc;
  }
}
